<div class="table">
    <h1 class="title">List of users</h1>
    <div class="container">
    <table class="table">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Amount</th>
    </tr>
  {{#each this}}
    <tr>
      <td align="left">{{name}}</td>
      <td align="right">{{phone}}</td>
      <td align="right">{{amount}}</td>
    </tr>
      {{/each}}
  </tbody>
</table>
</div>
</div>

